body {
	font-family: sans-serif;
	background-image:url(img/bgimg.jpg);
}

h1 { text-align: center }

h4 {
	margin: 8px 0;
}

button {
	border:none;
	font-size: 10px;
}

#textup {
	display: inline-block; 
	background: #8C959D;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
#textup:hover {
	display: inline-block; 
	background: #233211;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
#textdown {
	display: inline-block; 
	background: #8C959D;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
#textdown:hover {
	display: inline-block; 
	background: #233211;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}

.header {
	margin: 0 0 1px 0;
	text-align: center;
}

.headerr {
	margin: 1px 0 1px 0;
	text-align: center;
}

.h11 {
	margin: 5px 0 1px 0;
	display: inline-block;
    background-color: #ffffffdd;
    /*border: 1px solid #000;*/
    padding: 4px 30px;
    border-radius: 40px;
}

.h111 {
	margin: 5px 0 1px 0;
	display: inline-block;
    background-color: #ffffffdd;
    /*border: 1px solid #000;*/
    padding: 4px 30px;
    border-radius: 40px;
}

.height {
	height: 200;
}

.positioninfo {
	position: absolute;
	top: 10;
	right: 10;
}

.marginrecept {
	margin: 0 10px 0 0;
}

.recept1 {
	margin: 20px 0 0 0 ;
	flex-direction: column;
	border-radius: 10px; 
	flex-direction: row;
}
.recept2 {
	flex-direction: row;
}
.recept3 {
	border-radius: 10px; 
}
.ingredients {
	margin: 20px 0 0 0 ;
	flex-direction: column;
	border-radius: 10px; 
	flex-direction: row;
}
.cardrecept {
	margin: 0 10px 10px 0;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1); 
	padding: 2px 16px;
	display:  flex;
	flex-direction: row;
	transition: 0.2s;
	border-radius: 10px; 
}
.cardrecept:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 0px -5px 10px -5px;
}
.cardrecept2 {
	margin: 0 10px 10px 0;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	padding: 2px 16px;
	display:  flex;
	flex-direction: row;
}

.center {
	text-align: center
}

.btn {
	display: inline-block; 
	background: #8C959D;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
.btn:hover {
	display: inline-block; 
	background: #233211;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
.btn1 {
	display: inline-block; 
	background: #8C959D;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
}
.btn1:hover {
	display: inline-block; 
	background: #233211;
	color: #fff; 
	padding: 0.5rem 1rem;
	text-decoration: none; 
	border-radius: 3px; 
	cursor:  pointer;
}

.ocnova {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.cards {
	display:  flex;
	flex-wrap: wrap;
}

.card {
	margin: 0 10px 10px 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
	transition: 0.3s;
	cursor:  pointer;
	padding: 2px 16px;
	flex-grow: 1;
	border-radius: 10px;
	background-color: #ffffffcc;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	/*background: rgba(0, 0, 0, 0.1);*/
	margin: 0px 5px 5px 0px;
}

.container {
	padding: 2px 16px;
}

.containerr {
	background-color: #ffffffcc;
	padding: 2px 16px;
	display: flex;
	
}

.containerr {
	background-color: #ffffffcc;
	padding: 2px 16px;
	display: block;
	
}