body {
	font-size: 25px;
}

.height {
	height: 150;
}

.butteninfo {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 100%;
}

.cardrecept2 video {
	width: 100%;
}

.solid {
	top: -100px;
}

.header {
	margin: 20px 0 1px 0;
}

.h11 {
	margin: 40px 0 1px 0;
	text-align: center;
}

.cardrecept {
	margin: 0 0 0 0;
	box-shadow: 0 0 0 0 rgba(0,0,0,0); 
	padding: 2px 16px;
	display:  block;
	flex-direction: column;
	transition: 0;
	border-radius: 0; 
}

.containerr {
	background-color: #ffffffcc;
	padding: 2px 16px;
	display: block;
	flex-direction: column;
}

.cardrecept2 {
	margin: 0 10px 10px 0;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	padding: 2px 16px;
	display:  block;
	flex-direction: column;
}

.cardrecept2 {
	margin: 0 10px 10px 0;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	padding: 2px 16px;
	display:  flex;
	flex-direction: row;
}
/*
@media="screen and (max-width: 500px)" {
		@media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones}
		@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.}
		@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones}
		@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops}
		@media (min-width:1025px) { big landscape tablets, laptops, and desktops}
		@media (min-width:1281px) { hi-res laptops and desktops}
}
*/