body {
	font-size: 25px;
}

.height {
	height: 150;
}

.cardrecept2 {
	margin: 0 10px 10px 0;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	padding: 2px 16px;
	display:  block;
	flex-direction: column;
}

.cardrecept2 {
	margin: 0 10px 10px 0;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	padding: 2px 16px;
	display:  flex;
	flex-direction: row;
}